@import './mixins';
@import './variables';

body{
   overflow: hidden;
   font-family: 'Source Sans Pro', sans-serif;
   @include adaptiv-value('font-size',16,20,0);
   @include adaptiv-value('line-height',24,36,0);
   color:#fff;
   background: #1E162A;
}

.wallet-adapter-button-trigger{
   display:none !important;
}

.button-select-wallet{
   display: none !important;
}

.mint{
   display: none !important;
}

.d-f{
   display: flex;
}

.d-g{
   display: grid;
}

.jc-sb{
   justify-content: space-between;
}

.jc-c{
   justify-content: center;
}

.ai-c{
   align-items: center;
}

.fd-c{
   flex-direction:column;
}

.fd-r{
   flex-direction:row;
}

.fw-w{
   flex-wrap: wrap;
}


.ta-c{
   text-align: center;
}

.ta-e{
   text-align: end;
}

.gtc-2{
   grid-template-columns: repeat(2,1fr);
}

.gtc-3{
   grid-template-columns: repeat(auto-fit,minmax(310px,1fr));
}

.gtc-4{
   grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}

.button{
   display: inline-block;
   border-radius: 20px;
   text-transform: uppercase;
   text-align: center;
   color:#fff;
   font-family: 'Source Sans Pro', sans-serif;
   transition: 0.3s;
   cursor: pointer;

   @include breakpoint(768px) {
      box-shadow: inset 200px 0 0 0 #fff;
      color: #000;
   }
   
}

.socials {
   display: flex;
   align-items: center;
   
   li {
      margin-right: 30px;

      &:last-child {
         margin-right: 0px;
      }

      a {
         color: #fff; // delete
      }
   }
}

.logo {
   width: 140px;
}

.burger{
   width: 35px;
   height: 25px;
   display: none;
   flex-direction: column;
   justify-content: space-between;

   @include breakpoint(768px){
      display: flex;
   }
   
   div{
      width: 100%;
      height: 1px;
      background: #fff;
   }
}

.close{
   display: none;
   position: absolute;
   width: 35px;
   height: 25px;
   flex-direction: column;
   justify-content: space-between;
   top: 70px;
   right: 30px;

   @include breakpoint(768px){
      display: flex;
   }
   
   div{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: #fff;

      &:first-child{
         transform: rotate(45deg);
      }

      &:last-child{
         transform: rotate(-45deg);
      }
   }
}